<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="all" debug="false">
	<appender name="rollingFile" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="$\{catalina.base\}/logs/traffic.%d.log.gz" />
		</rollingPolicy>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p user\:%X{USER} session\:%X{SESSION_ID} uuid\:%X{UUID} %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{2\} - %m%n" />
		</layout>
	</appender>

	<appender name="foncFileAppender" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="$\{catalina.home\}/logs/traffic.%d.fonc.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p user\:%X{USER} session\:%X{SESSION_ID} %c %x - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework.orm.jpa">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.aop.framework.CglibAopProxy">
		<level value="ERROR" />
	</logger>

	<logger name="FoncLogger">
		<level value="INFO" />
		<appender-ref ref="foncFileAppender" />
	</logger>
	
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="rollingFile" />
		<appender-ref ref="myConsole" />
	</root>
</log4j:configuration>
